@page "/"
@using OpenAI;
@using OpenAI.Chat;
@using OpenAI.Models;
@inject IConfiguration _configuration
@inject NotificationService NotificationService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime _jsRuntime
<PageTitle>Index</PageTitle>
<RadzenTabs TabPosition="@tabPosition" @bind-SelectedIndex=@selectedTabIndex RenderMode="TabRenderMode.Server">
    <Tabs>
        <RadzenTabsItem Text="Input Text">
            <RadzenRow>
                <RadzenColumn Size="12">
                    @if (InProgress)
                    {
                        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenSpeechToTextButton Change="@(args => OnSpeechCaptured(args))" />
                        <RadzenButton Click=@CallService Text="Create JSON" ButtonStyle="ButtonStyle.Success" />
                        <span>Password: <RadzenPassword @bind-Value=@InputPassword /></span>
                        <RadzenTextArea @bind-Value=@InputText Rows="20" class="w-100" Style="margin-top:15px" />
                    }
                </RadzenColumn>
            </RadzenRow>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Instruction Prompt">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenButton Click=@SaveInstruction Text="Save" ButtonStyle="ButtonStyle.Primary" />
                    <RadzenTextArea @bind-Value=@InstructionPrompt Rows="20" class="w-100" Style="margin-top:15px" />
                </RadzenColumn>
            </RadzenRow>
        </RadzenTabsItem>
        <RadzenTabsItem Text="JSON File">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenTextArea @bind-Value=@JSONFile Rows="20" class="w-100" Style="margin-top:15px" />
                </RadzenColumn>
            </RadzenRow>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>
@code {
    string Organization = "";
    string ApiKey = "";
    string password = "";
    string InputPassword = "";

    int selectedTabIndex = 0;
    bool InProgress = false;
    string InputText = "";
    string InstructionPrompt = "";
    string JSONFile = "";

    TabPosition tabPosition = TabPosition.Top;

    // This method initializes the component
    protected override void OnInitialized()
    {
        // Get the password from the configuration, default to an empty string if not found
        password = _configuration["Password"] ?? "";

        // Get the organization from the configuration, default to an empty string if not found
        Organization = _configuration["OpenAIServiceOptions:Organization"] ?? "";

        // Get the API key from the configuration, default to an empty string if not found
        ApiKey = _configuration["OpenAIServiceOptions:ApiKey"] ?? "";
    }

    // This method is called after the component is rendered
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Check if it's the first render of the component
        if (firstRender)
        {
            // Get the instruction prompt from local storage
            InstructionPrompt = await localStorage.GetItemAsync<string>("InstructionPrompt");

            // Get the input text from local storage
            InputText = await localStorage.GetItemAsync<string>("InputText");

            // Notify the framework that the state has changed and the UI should be updated
            StateHasChanged();
        }
    }

    // This method is called when speech is captured
    void OnSpeechCaptured(string speechValue)
    {
        // Append the captured speech value to the input text
        InputText += speechValue;
    }

    // This method saves the instruction prompt to local storage
    async Task SaveInstruction()
    {
        // Save the instruction prompt to local storage
        await localStorage.SetItemAsync("InstructionPrompt", InstructionPrompt);

        // Create a success notification message
        var Notification = new NotificationMessage()
            {
                Style = "position: absolute; left: -1000px;",
                Severity = NotificationSeverity.Success,
                Summary = "Saved",
                Detail = "Instruction Prompt Saved",
                Duration = 40000
            };

        // Show the notification
        NotificationService.Notify(Notification);
    }

    // This method calls the GPT-4 service
    async Task CallService()
    {
        // Check if the entered password is correct
        if (InputPassword.ToLower() != password.ToLower())
        {
            // Create an error notification message
            var Notification = new NotificationMessage()
                {
                    Style = "position: absolute; left: -1000px;",
                    Severity = NotificationSeverity.Error,
                    Summary = "Invalid Password",
                    Detail = "Invalid password supplied",
                    Duration = 40000
                };

            // Show the notification
            NotificationService.Notify(Notification);
            return;
        }

        // Set the in-progress flag to true
        InProgress = true;

        // Notify the framework that the state has changed and the UI should be updated
        StateHasChanged();

        try
        {
            // Create a new instance of OpenAIClient using the ApiKey and Organization
            var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));

            // Create a new list of chatMessages objects
            var chatMessages = new List<Message>();
            chatMessages.Add(new Message(Role.System, InstructionPrompt));
            chatMessages.Add(new Message(Role.User, InputText));

            // Call ChatGPT
            // Create a new ChatRequest object with the chat prompts and pass
            // it to the API's GetCompletionAsync method
            // API Access to GPT4 is required for this call to work
            // temperature is set to 0.0, which controls the randomness
            // Lower values produce more deterministic outputs.
            var chatRequest = new ChatRequest(chatMessages, temperature: 0.0, model: Model.GPT4);
            var result = await api.ChatEndpoint.GetCompletionAsync(chatRequest);

            // Save the first choice result as a JSON file
            JSONFile = result.FirstChoice;

            // Save the input text to local storage
            await localStorage.SetItemAsync("InputText", InputText);

            // Set the selected tab index to 2 (Results tab)
            selectedTabIndex = 2;
        }
        catch (Exception ex)
        {
            // Create an error notification message
            var Notification = new NotificationMessage()
                {
                    Style = "position: absolute; left: -1000px;",
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 40000
                };

            // Show the notification
            NotificationService.Notify(Notification);
        }

        // Set the in-progress flag to false
        InProgress = false;

        // Notify the framework that the state has changed and the UI should be updated
        StateHasChanged();
    }
}